<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    {{#logs}}
        <div>
            <b>{{ip}}</b>
            <i>{{redirectDate}}</i>
            <h1>{{userAgent}}</h1>
        </div>
    {{/logs}}
</body>
</html>