<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form action="/add" method="post">
            <input type="text" name="longURL" placeholder="Введите ссылку" />
            <button type="submit">Добавить</button>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>
    {{#links}}
        <div>
            <b>{{id}}</b>
            <span>{{longUrl}}</span>
            <i>{{shortUrl}}</i>
            <h1>{{linkClickCount}}</h1>
            <form method="get" action="checkLinkLogs">
                <input type="hidden" name="linkId" value="{{id}}"/>
                <button type="submit">Посмотреть логи ссылки</button>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            </form>
            <form method="post" action="delete">
                <input type="hidden" name="id" value="{{id}}"/>
                <button type="submit">Удалить ссылку</button>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            </form>
        </div>
    {{/links}}
</body>
</html>